%body.bg-neutral-9
  %h1.mbn.title CloudyApp
  %span.i.fa.fa-refresh.type-neutral-6.h5.man
  %span.h5.mtn.mls Last Update: 8:01 pm EST on February 2, 2015  
  %hr.divider-alternate-2.mtxl.mbn
  .row.man
    .alert.alert-error
      .media
        .media-left
          %i.fa.fa-exclamation-triangle
        .media-body.em-high
          3 of 4 nodes are down.
  .row.mtxl
    .col-sm-24.mtl   
      .panel.panel-alt.bg-neutral-11.man
        .panel-body.pam
          %h1.mbs.mll.mts.type-neutral-3 Proxy0
      %hr.divider-alternate-1.man    
      %table.table.table-data.table-light.man
        %thead
          %tr
            %th.col-sm-10.plxl
              %h5.em-max
                Nodes
            %th.col-sm-7.plxl
              %h5.em-max
                Current Sessions
            %th.col-sm-7.plxl
              %h5.em-max
                Total Sessions
        %tbody
          %tr
            %td.ptm
              %h1
                %span.label.label-primary.bg-error-2.mll mysql-node1
            %td.txt-m 
              %h1.mll 0
            %td.txt-m 
              %h1.mll 0
          %tr
            %td.ptm
              %h1
                %span.label.label-primary.bg-error-2.mll mysql-node2
            %td.txt-m 
              %h1.mll 0
            %td.txt-m 
              %h1.mll 0
          %tr
            %td.ptm
              %h1
                %span.label.label-primary.bg-error-2.mll mysql-node3
            %td.txt-m 
              %h1.mll 0
            %td.txt-m 
              %h1.mll 0
          %tr
            %td.ptm
              %h1
                %span.label.label-primary.mll mysql-node4
            %td.txt-m 
              %h1.mll 23
            %td.txt-m 
              %h1.mll 48