%body.bg-neutral-9
  %h1.mbn.title CloudyApp
  %span.i.fa.fa-refresh.type-neutral-6.h5.man
  %span.h5.mtn.mls Last Update: 8:01 pm EST on February 2, 2015  
  %hr.divider-alternate-2.mtxl.mbn
  .row.man
    .alert.alert-success.bg-brand-4
      .media
        .media-left
          %i.fa.fa-check-circle
        .media-body.em-high
          All nodes are healthy!
  .row.mtxl
    .col-sm-24.mtl   
      %h1.mts.mbs.pbs.type-neutral-3 Proxy0
      %hr.divider-alternate-1.man    
      %table.table.table-data.table-light.man
        %thead
          %tr
            %th.col-sm-6
              Nodes
            %th.col-sm-4
              Status
            %th.col-sm-4
              Errors
            %th.col-sm-3
              IP Address
            %th.col-sm-3
              Current Sessions
            %th.col-sm-4
              Total Sessions
              %h6.pan.man.em-default Last 6 hrs
        %tbody
          %tr
            %td
              %h2.mtn.txt.m
                %span.label.label-primary mysql-node1
            %td.txt-m
              UP for 5h 23m
            %td.txt-m
              None
            %td.txt-m
              1.256.16.0
            %td.txt-m
              12
            %td.txt-m 
              24
          %tr
            %td
              %h2.mtn.txt.m
                %span.label.label-primary mysql-node1
            %td.txt-m
              UP for 5h 23m
            %td.txt-m
              None
            %td.txt-m
              1.256.16.0
            %td.txt-m
              12
            %td.txt-m 
              24
          %tr
            %td
              %h2.mtn.txt.m
                %span.label.label-primary mysql-node1
            %td.txt-m
              UP for 5h 23m
            %td.txt-m
              None
            %td.txt-m
              1.256.16.0
            %td.txt-m
              12
            %td.txt-m 
              24