%body.bg-neutral-9
  %h1.mbn.title AppName
  %span.i.fa.fa-refresh.type-neutral-6.h5.man
  %span.h5.mtn.mls Last Update: 8:01 pm EST on February 2, 2015  
  / .row.mtm.mbxl
  /   %h1.man.pll.ptn
  /     %span.label.label-primary.bg-neutral-11.type-neutral-5
  /       %i.fa.fa-circle.type-error-2.prs
  /       %i.fa.fa-circle.type-error-2.prs
  /       %i.fa.fa-circle.type-error-2.prs
  /       %i.fa.fa-circle.type-brand-3.prs
  /       Proxy0
  %hr.divider-alternate-2.mtxl.mbn
  / .row.man
  /   .alert.alert-error
  /     .media
  /       .media-left
  /         %i.fa.fa-exclamation-triangle
  /       .media-body.em-high
  /         3 of 4 nodes are down.
  .row.man
    .alert.alert-success.bg-brand-4
      .media
        .media-left
          %i.fa.fa-check-circle
        .media-body.em-high
          All nodes are up!
  .row.mtxl
    .col-sm-12.mtl   
      .panel.panel-alt.bg-neutral-11.man
        .panel-body.pam
          %h1.mbs.mll.mts.type-neutral-3 Proxy0
      %hr.divider-alternate-1.man    
      %table.table.table-data.table-light.man
        %thead
          %tr
            %th.col-sm-10 Nodes
            %th Current Sessions
            %th Total Sessions
        %tbody
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node1
            %td.txt-m 0
            %td.txt-m 3
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node2
            %td.txt-m 0
            %td.txt-m 0
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node3
            %td.txt-m 0
            %td.txt-m 0
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node4
            %td.txt-m 12
            %td.txt-m 12       
    .col-sm-12.mtl
      .panel.panel-alt.bg-neutral-11.man
        .panel-body.pam
          %h1.mbs.mll.mts.type-neutral-3 Proxy2
      %hr.divider-alternate-1.man    
      %table.table.table-data.table-light.man
        %thead
          %tr
            %th.col-sm-10 Nodes
            %th Current Sessions
            %th Total Sessions
        %tbody
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node1
            %td.txt-m 0
            %td.txt-m 3
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node2
            %td.txt-m 0
            %td.txt-m 0
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node3
            %td.txt-m 0
            %td.txt-m 0
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node4
            %td.txt-m 12
            %td.txt-m 12
  .row         
    .col-sm-12.mtxl
      .panel.panel-alt.bg-neutral-11.man
        .panel-body.pam
          %h1.mbs.mll.mts.type-neutral-3 Proxy3
      %hr.divider-alternate-1.man    
      %table.table.table-data.table-light.man
        %thead
          %tr
            %th.col-sm-10 Nodes
            %th Current Sessions
            %th Total Sessions
        %tbody
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node1
            %td.txt-m 0
            %td.txt-m 3
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node2
            %td.txt-m 0
            %td.txt-m 0
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node3
            %td.txt-m 0
            %td.txt-m 0
          %tr
            %td.txt-m
              %h4.pan
                %span.label.label-primary mysql-node4
            %td.txt-m 12
            %td.txt-m 12        