%body.bg-neutral-9
  %h1.mbn.title AppName Switchboard
  %span.i.fa.fa-refresh.fa-spin.type-neutral-6
  %span.h5.mtn.mls Last Updated: 8:01 PM EST
  %hr.divider-alternate-2.man.mtxl
  .pane.mtxxl
    .row
      %h1.man.pll.pbxxl.ptn
        %span.label.label-primary.bg-error-2 Proxy0
        %span.label.label-primary Proxy1
        %span.label.label-primary Proxy2
    .row.mts
      .col-sm-12    
        .panel.panel-alt.panel-danger.bg-neutral-11.man
          .panel-body.pal
            %h1.mbn.mll.mtm Proxy0
            %h2.type-sm.mtn.mbl.mll #0000
        %hr.divider-alternate-1.man    
        %table.table.table-data.table-light.man
          %thead
            %tr
              %th.col-sm-10 Node
              %th Current Sessions
              %th Total Sessions
          %tbody
            %tr
              %td.txt-m
                .media
                  .media-left
                    %i.fa.fa-exclamation-circle.type-error-2.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 3
            %tr
              %td.txt-m
                .media
                  .media-left
                    %i.fa.fa-exclamation-circle.type-error-2.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 0
            %tr
              %td.txt-m
                .media
                  .media-left
                    %i.fa.fa-exclamation-circle.type-error-2.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 0
            %tr
              %td.txt-m
                .media
                  .media-left
                    %i.fa.fa-circle.type-brand-3.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 12
              %td.txt-m 12       
      .col-sm-12
        .panel.panel-alt.bg-neutral-11.man
          .panel-body.pal
            %h1.mbn.mll.mtm Proxy1
            %h2.type-sm.mtn.mbl.mll #0001
        %hr.divider-alternate-1.man    
        %table.table.table-data.table-light.man
          %thead
            %tr
              %th.col-sm-10 Node
              %th Current Sessions
              %th Total Sessions
          %tbody
            %tr
              %td.txt-m.txt-m
                .media
                  .media-left
                    %i.fa.fa-circle.type-brand-3.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 0
            %tr
              %td.txt-m
                .media
                  .media-left
                    %i.fa.fa-circle.type-brand-3.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 0
            %tr
              %td.txt-m
                .media
                  .media-left
                    %i.fa.fa-circle.type-brand-3.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 0
    .row.mtxl        
      .col-sm-12
        .panel.panel-alt.bg-neutral-11.man
          .panel-body.pal
            %h1.mbn.mll.mtm Proxy2
            %h2.type-sm.mtn.mbl.mll #0002
        %hr.divider-alternate-1.man    
        %table.table.table-data.table-light.man
          %thead
            %tr
              %th.col-sm-10 Node
              %th Current Sessions
              %th Total Sessions
          %tbody
            %tr
              %td.txt-m.txt-m
                .media
                  .media-left
                    %i.fa.fa-circle.type-brand-3.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 0
            %tr
              %td.txt-m
                .media
                  .media-left
                    %i.fa.fa-circle.type-brand-3.h4.man.pts
                  .media-body.ptm oracle-db-sct
              %td.txt-m 0
              %td.txt-m 0