%body.bg-neutral-9
  %h1.mbn.title CloudyApp
  %span.i.fa.fa-refresh.type-neutral-6.h5.man
  %span.h5.mtn.mls Last Update: Just now 
  %hr.divider-alternate-2.mtxl.mbn
  .row.man
    .alert.alert-success.bg-brand-4
      .media
        .media-left
          %i.fa.fa-check-circle
        .media-body.em-high
          All nodes are healthy!
  .row.mtxl
    .col-sm-24.mtl  
      .panel.panel-alt.bg-neutral-11.man
        .panel-body.pam
          %h1.mlm.mts.mbs.type-neutral-3 Proxy0
      %hr.divider-alternate-1.man    
      %table.table.table-data.table-light.man
        %thead
          %tr
            %th.col-sm-6
              %h5.em-max.mlm Nodes
            %th.col-sm-4
              %h5.em-max.mlm Status
            %th.col-sm-4
              %h5.em-max.mlm Current Sessions
            %th.col-sm-5
              %span.h5.em-max.mlm Total Sessions
              %span.h5.mls.em-low Last 6 hrs
            %th.col-sm-3
              %h5.em-max.mlm IP Address
        %tbody
          %tr
            %td.ptm
              %h1
                %span.label.label-primary.mlm mysql-node1
            %td.txt-m
              %h5.mlm
                UP for 5h 23m
            %td.txt-m
              %h5.mlm
                12
            %td.txt-m
              %h5.mlm
                24
            %td.txt-m
              %h5.mlm
                1.0.16.256
          %tr
            %td.ptm
              %h1
                %span.label.label-primary.mlm mysql-node1
            %td.txt-m
              %h5.mlm
                UP for 5h 23m
            %td.txt-m
              %h5.mlm
                12
            %td.txt-m
              %h5.mlm
                24
            %td.txt-m
              %h5.mlm
                1.0.16.256
          %tr
            %td.ptm
              %h1
                %span.label.label-primary.mlm mysql-node1
            %td.txt-m
              %h5.mlm
                UP for 5h 23m
            %td.txt-m
              %h5.mlm
                12
            %td.txt-m
              %h5.mlm
                24
            %td.txt-m
              %h5.mlm
                1.0.16.256