%table.table.table-data.table-light
  %thead
    %tr
      %th.col-sm-5 Node
      %th Current Sessions
      %th Total Sessions
  %tbody
    %tr
      %td
        .media
          .media-left
            %i.fa.fa-exclamation-circle.type-error-2.h4.man.pts
          .media-body.ptm oracle-db-sct
      %td 0
      %td 3
    %tr
      %td
        .media
          .media-left
            %i.fa.fa-exclamation-circle.type-error-2.h4.man.pts
          .media-body.ptm oracle-db-sct
      %td 0
      %td 0
    %tr
      %td
        .media
          .media-left
            %i.fa.fa-exclamation-circle.type-error-2.h4.man.pts
          .media-body.ptm oracle-db-sct
      %td 0
      %td 0
    %tr
      %td
        .media
          .media-left
            %i.fa.fa-circle.type-brand-3.h4.man.pts
          .media-body.ptm oracle-db-sct
      %td 12
      %td 12